html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
#menuCentral {

    background-color: white;
}
div input {
border-radius: 5px;
padding: 8px;
font-size: 14px;
color: #696969;
vertical-align: top;
border-top: 1px solid #ddd;
width: 90%;
}

div button 
 {
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #20B2AA;
  color:white;
  vertical-align: top;
}


.divisionPrincipal
{
    width: 85%;
    height: 90%;
    float: left;
    border-radius: 5px; 
    line-height: 25px;
    margin-top: 6%;
    margin-left: 15%;
}

.Articulo1
{
    background-color: transparent;
    border-radius: 20%;
    padding: 0% 2% 2% 2%; /*change padding*/
    margin-bottom: 2%;
    text-align: justify;
    width: 50%; 
    margin-left:8%;
    margin-bottom: 2%; 
    border-radius:10px;
    font-style: Arial;
    float:left;

}

.Articulo2
{
    background-color: transparent;
    border-radius: 20%;
    padding: 0% 2% 2% 2%; /*change padding*/
    margin-bottom: 2%;
    text-align: justify; 
    width: 40%; 
    margin-left:8%;
    border-radius: 10px;
    font-style: Arial;
    float:right;
    margin-top: 5%;
}

/*Chat*/

form, p, span {
    margin:0;
    padding:0; }

#submitmsg {
  border:transparent;
  background:#D3D3D3;
  color:black;
  width: 60px;
  margin-left:2%;
  }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:450px;
    border:1px solid #ACD8F0; }

  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:200px;
    width:400px;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
  width:408px;
  border:1px solid #ACD8F0;
  margin:10px;
  }


#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }


